# WARNING: For easier installation use the "conda env create -f basic_anyOS_env.yml"; check using torch: import torch torch.cuda.is_available()->if not->https://docs.nvidia.com/cuda/wsl-user-guide/index.html
# WARNING: For installing the requirements using this script use "pip install -r requirements.txt"

# base yolov5_v3.1
#------------------------------- 
Cython
matplotlib>=3.2.2 #BUG pip windows - use conda 
numpy>=1.18.5
opencv-python>=4.1.2
Pillow
PyYAML>=5.3
scipy>=1.4.1
tensorboard>=2.2
tqdm>=4.41.0
#torch>=1.6.0 #BUG pip windows and ubuntu in environment - go to https://pytorch.org/get-started/locally/ - #SOLUTION CONDA install
#torchvision>=0.7.0
#cudatoolkit==10.1

# logging -------------------------------------
# wandb

# coco ----------------------------------------
# pycocotools>=2.0

# export --------------------------------------
# coremltools==4.0
# onnx>=1.8.0
# scikit-learn==0.19.2  # for coreml quantization

# extras --------------------------------------
# thop  # FLOPS computation
# seaborn  # plotting

# Nvidia Apex (optional) for mixed precision training --------------------------
# git clone https://github.com/NVIDIA/apex && cd apex && pip install -v --no-cache-dir --global-option="--cpp_ext" --global-option="--cuda_ext" . --user && cd .. && rm -rf apex

# Conda commands (in place of pip) ---------------------------------------------
# conda create env -f conda/basic_anyOS_env.yml
# OR
# conda update -yn base -c defaults conda
# conda install -yc anaconda numpy opencv matplotlib tqdm pillow ipython
# conda install -yc conda-forge scikit-image pycocotools tensorboard
# conda install -yc spyder-ide spyder-line-profiler
# conda install pytorch torchvision cudatoolkit=10.1 -c pytorch #If #BUG #SOLUTION pip torch==1.5.1 and torchvision==0.6.1
# conda install -yc conda-forge protobuf numpy && pip install onnx==1.6.0  # https://github.com/onnx/onnx#linux-and-macos
# extras --------------------------------------
# conda install jupyterlab #notebook IDE 
# conda install -c conda-forge nodejs # nodejs for jupyterlab extensions
# conda install -c conda-forge ipywidgets
# jupyter labextension install @jupyter-widgets/jupyterlab-manager


# base fairmot 2020.09.10 -> WARNING only works for one class and multi-objects
#------------------------------- 
yacs
opencv-python
cython
cython-bbox
scipy
numba
progress
motmetrics
matplotlib
lap
openpyxl
Pillow
tensorboardX

#SOLUTION CONDA install
#conda install pytorch=1.7.0 torchvision cudatoolkit=11 -c pytorch - go to https://pytorch.org/get-started/locally/ 
#SOLUTION DCNv2: https://github.com/jinfagang/DCNv2_latest ;-> #WARNING git clone to/Desktop; #WARNING beware of the the GCC version and NVCC version, if gcc>=7, NVCC>=10 (update paths of cuda). ->https://medium.com/@brianhourigan/if-different-cuda-versions-are-shown-by-nvcc-and-nvidia-smi-its-necessarily-not-a-problem-and-311eda26856c

# MCMOT 


# FAQs
#-------------

# YOLOv5 -------

#SOLUTION UPDATE YOLOv5. In WSL, using (base) conda [other envs give same torch error] and  1)sudo rm -rf yolov5  # remove existing; 2) git clone https://github.com/ultralytics/yolov5 && cd yolov5 # clone latest; 3)pip install -qr requirements.txt 4)python detect.py  # verify detection 
#SOLUTION in Windows, install using conda commands

# #WARNING #BUG torch.nn.modules.module.ModuleAttributeError: 'Detect' object has no attribute 'm' : #SOLUTION recolone repo when updating: 1) copy old version yolov5 folder to old folder; 2) git clone yolov5 to yolo folder;  or just remove the weights from yolov5 folder from the previous version.
#https://github.com/ultralytics/yolov5/releases
#https://github.com/ultralytics/yolov5/issues/690

# #WARNING windows : pycocotools fails - use pip install git+https://github.com/cocodataset/cocoapi.git#subdirectory=PythonAPI
# #WARNING windows : gives pip errors ; #SOLUTION installing individually with conda 
# #WARNING windows : has path problems - see below
# #WARNING (WSL-windows subsystem for linux) : pytorch problems 
# #WARNING WSL : gives pip errors ; #SOLUTION installing with conda 
# #WARNING LINUX: to install cudatoolkit-> conda install pytorch torchvision cudatoolkit=10.2 -> is not necessary to follow the link https://docs.nvidia.com/cuda/wsl-user-guide/index.html
# #WARNING WSL : CUDA LIMITATIONS ; #SOLUTION 1) update wsl to wsl 2 kernel: https://docs.microsoft.com/en-us/windows/wsl/install-win10#update-to-wsl-2  ; 2) install windows dev insider build >20150, install cuda-toolkit by following: https://docs.nvidia.com/cuda/wsl-user-guide/index.html #NOTE if ubuntu 2004, just change 1804 in paths; check using torch: import torch torch.cuda.is_available(); #NOTE Performance on GTX 1070: https://developer.nvidia.com/blog/announcing-cuda-on-windows-subsystem-for-linux-2/
# #WARNING WSL : spyder needs GUI to work: #SOLUTION https://medium.com/@macasaetjohn/setting-up-a-spyder-environment-with-wsl-bb83716a44f3
# #WARNING yolov5: runs are saved inside yolov5/runs/


# #BUG WINDOWS yolov5_v2 1 : yolov5.utils.increment_dir function error in windows path ; #SOLVED use (try: except: pass)
# #BUG yolov5_v2 2 : zip(*[cache[x] for x in self.img_files]) in yolov5.utils.datasets gives keyerror; #SOLUTION delete cache in dataset, e.g. if img_files='/mnt/d/external_datasets/coco128/images/train2017/000000000073.jpg' and cache key = '/Volumes/Seagate/p19/external_datasets/coco128/images/train2017/000000000073.jpg' you will have a keyerror
# #BUG CODE yolov5_v2 : they use 'opt' var declared in if __name__ == '__main__': as a global var : #WARNING can only debug inside script, or you need to recreate the opt as global in your script; pip install -e will be the last resort
# #BUG yolov5_v2 pytorch: needs torch==1.5.1 and torchvision==0.6.1: #SOLVED WSL with cuda: pip install torch==1.5.1+cu101 torchvision==0.6.1+cu101 -f https://download.pytorch.org/whl/torch_stable.html 



# fairMOT -------
# SOLUTION DCNv2: https://github.com/jinfagang/DCNv2_latest